In [1]:
import numpy as np
import pandas as pd
# Warnings
import warnings
warnings.filterwarnings('ignore')
import math

In [2]:
city_day = pd.read_csv("city_day.csv")

In [3]:
city_day['Date'] =  pd.to_datetime(city_day['Date'],format='%Y-%m-%d')

In [4]:
year = city_day['Date'].dt.year
month = city_day['Date'].dt.month
day = city_day['Date'].dt.day

In [5]:
city_day.insert(loc=1, column='Year', value= year)
city_day.insert(loc=2, column='Month', value= month)
city_day.insert(loc=3, column='Date1', value= day)

In [6]:
n_city = set(list(city_day["City"]))

In [7]:
n_city1 = city_day.City.unique()

In [8]:
n_city1 = set(n_city1)

In [9]:
n_city1

{'Ahmedabad',
 'Aizawl',
 'Amaravati',
 'Amritsar',
 'Bengaluru',
 'Bhopal',
 'Brajrajnagar',
 'Chandigarh',
 'Chennai',
 'Delhi',
 'Ernakulam',
 'Gurugram',
 'Guwahati',
 'Hyderabad',
 'Jaipur',
 'Jorapokhar',
 'Kochi',
 'Kolkata',
 'Lucknow',
 'Mumbai',
 'Patna',
 'Shillong',
 'Talcher',
 'Thiruvananthapuram'}

In [10]:
b = ["Thurs","Fri","Sat","Sun","Mon","Tue","Wed"]
c = len(list(city_day["NO2"]))
a = b * int(c/7) + b[:( c % 7 )]

In [11]:
city_day["Day"] = a

In [12]:
city_day.isnull().sum()

City              0
Year              0
Month             0
Date1             0
Date              0
PM2.5          4289
PM10          10766
NO             3233
NO2            3217
NOx            4043
NH3            9847
CO             1961
SO2            3544
O3             3660
Benzene        5287
Toluene        7555
Xylene        16807
AQI            4282
AQI_Bucket     4282
Day               0
dtype: int64

In [13]:
# from sklearn.linear_model import LinearRegression
# dtregressor=LinearRegression()
# # dtregressor.fit(X_train,Y_train)

In [14]:
# from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
# dtregressor=DecisionTreeRegressor()
dtregressor=  RandomForestRegressor()
# dtregressor.fit(X_train,Y_train)

In [15]:
k = city_day.columns.values

In [16]:
k = list(k)

In [17]:
xyz = pd.DataFrame(columns=k)

In [18]:
xyz

Empty DataFrame
Columns: [City, Year, Month, Date1, Date, PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, AQI_Bucket, Day]
Index: []

In [19]:
pollutants = ['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene','AQI']

In [20]:
# replacing nan values
x = city_day.groupby(['Month'])['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene','AQI'].mean()

In [21]:
x

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
Month,,,,,,,,,,,,,
1,110.218812,169.238787,25.263591,35.737643,44.118304,31.672565,3.179774,18.279856,35.666336,4.200882,10.896067,2.610621,236.681225
2,84.636159,150.230649,22.504201,33.856603,41.508787,26.896001,3.045321,17.222922,37.958493,3.870187,9.062813,2.283562,207.976289
3,65.741265,119.660716,17.235198,27.116562,32.439365,22.787979,2.283967,15.924207,39.133918,6.175549,11.244044,2.556863,168.919030
4,54.284417,108.842394,14.610669,23.796219,25.240553,21.433088,1.740944,14.489759,40.273183,2.041667,5.660139,1.845396,146.602658
5,63.241637,129.845762,12.632373,26.200676,25.514083,24.392496,1.746670,16.274834,41.981482,2.299014,8.398437,3.948871,159.107362
6,52.513570,103.034779,11.278562,24.509360,23.884092,22.532284,1.963390,12.271553,34.298541,2.292245,8.111926,3.413067,142.443071
7,38.365968,70.422140,11.942689,20.606825,24.644194,21.798759,2.345430,11.465207,23.996914,1.614260,6.771222,2.177076,113.941901
8,34.007565,68.587759,11.957165,20.167571,24.984957,19.589807,2.522925,11.765161,22.768532,2.400192,7.065266,2.763010,115.173653
9,38.397961,74.509337,12.695933,23.631376,25.185834,19.354101,2.175551,10.833674,26.058911,1.814903,6.611931,3.879178,116.744836
10,77.197418,129.411941,21.763207,33.122291,38.019340,25.418635,2.858554,14.799681,34.508268,2.816949,9.741482,4.399727,193.588169
11,115.058922,174.413611,27.701154,39.654732,47.759357,30.971749,3.074875,18.434010,37.898656,3.793406,12.396291,5.050979,251.531702
12,113.902174,169.309049,25.520429,37.083211,44.637842,33.908435,2.325472,16.373401,33.730265,5.044284,11.360802,3.576620,234.695258

In [22]:
y = x.values

In [23]:
# y[0][0]

In [24]:
# dict = {}
# for i in range(5,18):
#     dict[i] = pollutants[i-5]

In [25]:
# dict

In [26]:
city_day = city_day.drop(['AQI_Bucket'],axis = 1)

In [27]:

# Replacing AQI values with monthly average

for i in range(len(city_day)):
    for j in range(5,18):
        if pd.isna(city_day.iloc[i,j]):
            
            m = city_day["Month"][i]
        
            city_day.iloc[i,j] = y[m-1][j-5]

In [28]:
city_day.isnull().sum()

City       0
Year       0
Month      0
Date1      0
Date       0
PM2.5      0
PM10       0
NO         0
NO2        0
NOx        0
NH3        0
CO         0
SO2        0
O3         0
Benzene    0
Toluene    0
Xylene     0
AQI        0
Day        0
dtype: int64

lock down announced on 24 march 2020

In [29]:
# city_day_pre = city_day[city_day.Date < '2020-03-24 00:00:00']
# city_day_post = city_day[city_day.Date >= '2020-03-24 00:00:00']

In [30]:
def CreateDataset(df,n_past):
    X_train = []
    Y_train = []
    for i in range(len(df)-n_past):
        X_train.append(df[i:i+7].values)
        Y_train.append(df[i+n_past:i+n_past+1].values)
    #converting to dataframe
    X_train_df = pd.DataFrame(X_train)
    Y_train_df = pd.DataFrame(Y_train)
    X_train = X_train_df.values
    Y_train = Y_train_df.values
    
    return X_train,Y_train

In [31]:
# Predicting next n days
def output(x_input,n_past,n,dtregressor):

    n_future = 1
    # x_input = city_day_ahm["AQI"][X_train.shape[0] : X_train.shape[0]+ 7].values 
    x_input = x_input.values
    x_input = x_input.reshape((1,7))              # reshape for applying model
    output=[]
    i=0
    while(i<n):


        yhat = dtregressor.predict(x_input)      # yhat calulate



        output.append(yhat[0])                 # append to output

        x_input = np.append(x_input,yhat[0])


        x_input = x_input[1:]

        x_input = x_input.reshape((1,7))


        i = i+1
    return output

In [33]:
n = 100
n_past = 7
pollutants= ['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene','AQI']

final_data = pd.DataFrame(columns=k) 
    
for i in pollutants:
    
    X_train,Y_train = CreateDataset(city_day[i],n_past)
    dtregressor.fit(X_train,Y_train)
    
    everycity_pollutant = []
    c = 0
    for j in n_city:
            
        
        temp = city_day[city_day["City"]==j]
        
        length = len(temp)
        
        x_input = temp[i][len(temp)-n_past:]
        
        y_pred = output(x_input,n_past,n,dtregressor)
        print(y_pred.shape)
        everycity_pollutant = everycity_pollutant + y_pred
                
    final_data[i] = everycity_pollutant

AttributeError: 'list' object has no attribute 'shape'

In [ ]:
final_data