In [1]:
import numpy as np
import pandas as pd
# Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Multiple Linear Regression
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings("ignore")
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import metrics
def model(regressor,X_Train,Y_Train,X_Test,Y_Test):
#     print(regressor)
#     regressor = MultiOutputClassifier(classifier)
    scores = cross_val_score(regressor, X_Train, Y_Train, cv=5, scoring='f1_macro')
    model1=regressor.fit(X_Train,Y_Train)
#     print('training accuracy')
#     print(model1.score(X_Train, Y_Train))
    Y_pred = model1.predict(X_Test)
    from sklearn.metrics import accuracy_score
#     print('testing accuracy')
    acc1 = (accuracy_score(Y_Test, Y_pred))
#     print(model1.score(X_Test,Y_Test))
#     from sklearn.metrics import classification_report
    # print(classification_report(Y_Test, Y_pred))
    # print(Y_pred)
    return model1,Y_pred,acc1,scores
def logic(X_Train,Y_Train,X_Test,Y_Test):
    from sklearn.linear_model import LogisticRegression
    regressor = LogisticRegression()
    model1,Y_pred,acc1,scores=model(regressor,X_Train,Y_Train,X_Test,Y_Test)
    # print(pd.DataFrame(zip(X.columns, np.transpose(model1.coef_))))    
    return Y_pred,acc1,scores    
def decision(X_Train,Y_Train,X_Test,Y_Test):
    from sklearn.tree import DecisionTreeClassifier
    regressor = DecisionTreeClassifier(criterion = 'entropy', random_state = 42)
    model1,Y_pred,acc1,scores=model(regressor,X_Train,Y_Train,X_Test,Y_Test)
    # print(pd.DataFrame(zip(X.columns, np.transpose(model1.coef_))))    
    return Y_pred,acc1,scores    
def knn(X_Train,Y_Train,X_Test,Y_Test):
    from sklearn.neighbors import KNeighborsClassifier
    regressor = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    model1,Y_pred,acc1,scores=model(regressor,X_Train,Y_Train,X_Test,Y_Test)
    # print(pd.DataFrame(zip(X.columns, np.transpose(model1.coef_))))    
    return Y_pred,acc1,scores    
def svm_kernel(X_Train,Y_Train,X_Test,Y_Test):
    from sklearn.svm import SVC
    regressor = SVC(kernel = 'rbf', random_state = 0)
    model1,Y_pred,acc1,scores=model(regressor,X_Train,Y_Train,X_Test,Y_Test)
    # print(pd.DataFrame(zip(X.columns, np.transpose(model1.coef_))))    
    return Y_pred,acc1,scores    
def naive(X_Train,Y_Train,X_Test,Y_Test):
    from sklearn.naive_bayes import GaussianNB
    regressor = GaussianNB()
    model1,Y_pred,acc1,scores=model(regressor,X_Train,Y_Train,X_Test,Y_Test)
    # print(pd.DataFrame(zip(X.columns, np.transpose(model1.coef_))))    
    return Y_pred,acc1,scores    
def svm(X_Train,Y_Train,X_Test,Y_Test):
    from sklearn.svm import SVC
    regressor = SVC(kernel = 'linear', random_state = 0)
    model1,Y_pred,acc1,scores=model(regressor,X_Train,Y_Train,X_Test,Y_Test)
    # print(pd.DataFrame(zip(X.columns, np.transpose(model1.coef_))))    
    return Y_pred,acc1,scores    
def random(X_Train,Y_Train,X_Test,Y_Test):
    from sklearn.ensemble import RandomForestClassifier
    regressor = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    model1,Y_pred,acc1,scores=model(regressor,X_Train,Y_Train,X_Test,Y_Test)
    # print(pd.DataFrame(zip(X.columns, np.transpose(model1.coef_))))    
    return Y_pred,acc1,scores

In [30]:
def main(X_Train,Y_Train,X_Test,Y_Test):
    score_num =[]
    count = 0
    acc_logic =0
    acc_decision=0
    acc_knn=0
    acc_random=0
    acc_svm=0
    acc_svm_kernel=0
    Y_pred_logic=[]
    Y_pred_decision=[]
    Y_pred_knn=[]
    Y_pred_random=[]
    Y_pred_svm_kernel=[]
    Y_pred_svm=[]
    cross_val_logic=[]
    cross_val_decision=[]
    cross_val_knn=[]
    cross_val_random=[]
    cross_val_svm_kernel=[]
    cross_val_svm=[]
    acc_logic,Y_pred_logic,cross_val_logic=(logic(X_Train,Y_Train,X_Test,Y_Test))
    acc_decision,Y_pred_decision,cross_val_decision=(decision(X_Train,Y_Train,X_Test,Y_Test))
    acc_knn,Y_pred_knn,cross_val_knn=(knn(X_Train,Y_Train,X_Test,Y_Test)) 
    acc_random,Y_pred_random,cross_val_random=(random(X_Train,Y_Train,X_Test,Y_Test))
#     acc_svm_kernel,Y_pred_svm_kernel,cross_val_svm_kernel=(svm_kernel(X_Train,Y_Train,X_Test,Y_Test))    
#     acc_svm,Y_pred_svm,cross_val_svm=(svm(X_Train,Y_Train,X_Test,Y_Test))
    print(Y_Test)
    print('LogisticRegression',end=' ')
    print('\n')
#     print('predictions',end=' ')
#     print(acc_logic)
    print('\n')
    print('cross_val_score',end=' ')
    print(cross_val_logic)
    print('\n')
    print('acc',end=' ')
    print(Y_pred_logic)
    print('\n')
    print('SVC',end=' ')
    print('\n')
#     print('predictions',end=' ')
#     print(acc_svm)
    print('\n')
    print('cross_val_score',end=' ')
    print(cross_val_svm)
    print('\n')
    print('acc',end=' ')
    print(Y_pred_svm)
    print('\n')
    print('RandomForestClassifier',end=' ')
    print('\n')
#     print('predictions',end=' ')
#     print(acc_random)
    print('\n')
    print('cross_val_score',end=' ')
    print(cross_val_random)
    print('\n')
    print('acc',end=' ')
    print(Y_pred_random)
    print('\n')
    print('DecisionTreeClassifier',end=' ')
    print('\n')
#     print('predictions',end=' ')
#     print(acc_decision)
    print('\n')
    print('cross_val_score',end=' ')
    print(cross_val_decision)
    print('\n')
    print('acc',end=' ')
    print(Y_pred_decision)
    print('\n')
    print('KNeighborsClassifier',end=' ')
    print('\n')
#     print('predictions',end=' ')
#     print(acc_knn)
    print('\n')
    print('cross_val_score',end=' ')
    print(cross_val_knn)
    print('\n')
    print('acc',end=' ')
    print(Y_pred_knn)
    print('\n')
    print('svm_kernel',end=' ')
    print('\n')
#     print('predictions',end=' ')
#     print(acc_svm_kernel)
    print('\n')
    print('cross_val_score',end=' ')
    print(cross_val_svm_kernel)
    print('\n')
    print('acc',end=' ')
    print(Y_pred_svm_kernel)
    # boost(X_Train,Y_Train,X_Test,Y_Test)
    # score_num = np.array(score_num)
    # score_num =np.reshape(score_num,15)
    #     print(score_num)

In [4]:
city_day = pd.read_csv("city_day.csv")

In [5]:
city_day['Date'] =  pd.to_datetime(city_day['Date'],format='%Y-%m-%d')

In [6]:
year = city_day['Date'].dt.year
month = city_day['Date'].dt.month
day = city_day['Date'].dt.day

In [7]:
city_day.insert(loc=1, column='Year', value= year)
city_day.insert(loc=2, column='Month', value= month)
city_day.insert(loc=3, column='Date1', value= day)

In [8]:
city_day_ahm = city_day

In [9]:
city_day_ahm

,City,Year,Month,Date1,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015,1,1,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015,1,2,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015,1,3,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015,1,4,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015,1,5,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26214,Thiruvananthapuram,2020,4,27,2020-04-27,14.13,34.27,5.60,8.98,12.48,5.65,0.49,5.50,42.41,NaN,NaN,NaN,63.0,Satisfactory
26215,Thiruvananthapuram,2020,4,28,2020-04-28,23.84,44.32,6.27,10.01,13.80,5.73,0.44,5.62,44.55,NaN,NaN,NaN,60.0,Satisfactory
26216,Thiruvananthapuram,2020,4,29,2020-04-29,18.54,34.48,6.17,9.67,13.35,5.93,0.51,5.52,38.97,NaN,NaN,NaN,57.0,Satisfactory
26217,Thiruvananthapuram,2020,4,30,2020-04-30,20.57,48.19,6.28,9.52,13.56,5.84,0.46,5.32,39.23,NaN,NaN,NaN,57.0,Satisfactory
26218,Thiruvananthapuram,2020,5,1,2020-05-01,17.58,37.49,2.56,7.84,9.34,4.85,0.45,7.10,31.16,NaN,NaN,NaN,82.0,Satisfactory

In [10]:
city_day_ahm.Year.value_counts()

2019    6878
2018    6106
2017    4324
2016    3294
2020    2816
2015    2801
Name: Year, dtype: int64

In [11]:
# city_day_1_ahm = city_day_ahm.dropna(axis=0, how="all", subset=["PM2.5","PM10"], inplace=False)

In [12]:
# city_day_1_ahm

In [13]:
city_day_ahm_copy = city_day_ahm

In [14]:
avg_aqi_month = city_day_ahm.groupby(['Month']).AQI.mean()

In [15]:
avg_aqi_month = list(avg_aqi_month)

In [16]:
avg_aqi_month

[236.6812248995984,
 207.97628865979382,
 168.91903019213174,
 146.602658111824,
 159.1073619631902,
 142.4430709173715,
 113.9419014084507,
 115.17365269461078,
 116.74483596597813,
 193.5881690140845,
 251.53170189098998,
 234.69525839104955]

In [17]:
# Replacing AQI values with monthly average

# temp = city_day_ahm["AQI"].fillna(avg_aqi_month[city_day_ahm.Month-1] ,inplace = False)

for i in range(len(city_day_ahm)):
    if pd.isna(city_day_ahm["AQI"][i]):      
        city_day_ahm["AQI"][i] = avg_aqi_month[city_day_ahm["Month"][i]-1]

In [18]:
city_day_ahm

,City,Year,Month,Date1,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015,1,1,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,236.681225,NaN
1,Ahmedabad,2015,1,2,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,236.681225,NaN
2,Ahmedabad,2015,1,3,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,236.681225,NaN
3,Ahmedabad,2015,1,4,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,236.681225,NaN
4,Ahmedabad,2015,1,5,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,236.681225,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26214,Thiruvananthapuram,2020,4,27,2020-04-27,14.13,34.27,5.60,8.98,12.48,5.65,0.49,5.50,42.41,NaN,NaN,NaN,63.000000,Satisfactory
26215,Thiruvananthapuram,2020,4,28,2020-04-28,23.84,44.32,6.27,10.01,13.80,5.73,0.44,5.62,44.55,NaN,NaN,NaN,60.000000,Satisfactory
26216,Thiruvananthapuram,2020,4,29,2020-04-29,18.54,34.48,6.17,9.67,13.35,5.93,0.51,5.52,38.97,NaN,NaN,NaN,57.000000,Satisfactory
26217,Thiruvananthapuram,2020,4,30,2020-04-30,20.57,48.19,6.28,9.52,13.56,5.84,0.46,5.32,39.23,NaN,NaN,NaN,57.000000,Satisfactory
26218,Thiruvananthapuram,2020,5,1,2020-05-01,17.58,37.49,2.56,7.84,9.34,4.85,0.45,7.10,31.16,NaN,NaN,NaN,82.000000,Satisfactory

In [19]:
city_day_ahm.isnull().sum()

City              0
Year              0
Month             0
Date1             0
Date              0
PM2.5          4289
PM10          10766
NO             3233
NO2            3217
NOx            4043
NH3            9847
CO             1961
SO2            3544
O3             3660
Benzene        5287
Toluene        7555
Xylene        16807
AQI               0
AQI_Bucket     4282
dtype: int64

In [20]:
#function for categorizing AQI values
def AQI_category(x):
    y = 0
    if x>=0 and x<=50:
        y = 1
    if x>50 and x<=100:
        y = 2
    if x>100 and x<=200:
        y = 3
    if x>200 and x<=300:
        y = 4
    if x>200 and x<=300:
        y = 5
    if x>300:
        y = 6
    return y

In [21]:
AQI_val = city_day_ahm.AQI_Bucket.unique()

In [22]:
AQI_val = AQI_val[1:]

In [23]:
AQI_val

array(['Poor', 'Very Poor', 'Severe', 'Moderate', 'Satisfactory', 'Good'],
      dtype=object)

In [24]:
# building a dict of AQI categories:
dict={}
list1 = [4,5,6,3,2,1]
for i in range(len(AQI_val)):
    dict[AQI_val[i]] = list1[i]

In [25]:
length = len(city_day_ahm[city_day_ahm["Year"]!=2020])

In [26]:
city_day_ahm.iloc[1798]

City                    Ahmedabad
Year                         2019
Month                          12
Date1                           4
Date          2019-12-04 00:00:00
PM2.5                       77.66
PM10                        99.48
NO                           4.32
NO2                         62.09
NOx                         35.21
NH3                           NaN
CO                           4.32
SO2                         93.11
O3                          51.79
Benzene                      2.75
Toluene                     35.25
Xylene                       1.87
AQI                           140
AQI_Bucket               Moderate
Name: 1798, dtype: object

In [27]:
n=7
X_train = []
Y_train = []

# length = 1785  35*51
for i in range(20000):
    X_train.append(city_day_ahm["AQI"][i:i+n].values)
    Y_train.append( city_day_ahm["AQI"][i+n:i+n+1].apply(AQI_category).values )
# converting to dataframe
X_train_df = pd.DataFrame(X_train)
Y_train_df = pd.DataFrame(Y_train)
X_train = X_train_df.values
Y_train = Y_train_df.values
X_test = []
Y_test = []
for i in range(1000):
    X_test.append(city_day_ahm["AQI"][24000+i:24000+i+n].values)
    Y_test.append( city_day_ahm["AQI"][24000+i+n:24000+i+n+1].apply(AQI_category).values)
X_test_df = pd.DataFrame(X_test)
Y_test_df = pd.DataFrame(Y_test)
X_test = X_test_df.values
Y_test = Y_test_df.values

In [28]:
main(X_train,Y_train,X_test,Y_test)

[[2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [5]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [3]
 [1]
 [1]
 [1]
 [1]
 [1]
 [3]
 [3]
 [3]
 [3]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [2]
 [2]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [2]
 [2]
 [1]
 [2]
 [2]
 [1]
 [2]
 [1]
 [1]
 [1]
 [1]
 [1]
 [2]
 [1]
 [1]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [1]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [1]
 [1]
 [2]
 [2]
 [2]
 [2]
 [1]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [5]
 [5]
 [1]
 [1]
 [2]
 [1]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [1]
 [2]
 [2]
 [2]
 [2]
 [2]
 [1]
 [1]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [2]
 [2]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [6]
 [6]
 [6]
 [5]
 [5]
 [6]
 [5]
 [5]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [5]
 [5]
 [6]
 [6]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [6]
 [6]
 [5]
 [5]
 [3]
 [3]
 [5]
 [6]
 [5]
 [3]
 [3]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [5]
 [2]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [5]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [1]
 [1]
 [1]
 [1]
 [1]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [3]
 [3]
 [3]
 [5]
 [6]
 [5]
 [5]
 [6]
 [6]
 [6]
 [6]
 [6]
 [3]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [3]
 [5]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [5]
 [5]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [5]
 [6]
 [6]
 [6]
 [5]
 [5]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [5]
 [5]
 [5]
 [5]
 [6]
 [6]
 [6]
 [6]
 [5]
 [5]
 [5]
 [6]
 [6]
 [6]
 [6]
 [5]
 [6]
 [5]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [3]
 [3]
 [5]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [6]
 [5]
 [3]
 [3]
 [3]
 [3]
 [5]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [3]
 [3]
 [3]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [2]
 [2]
 [2]
 [3]
 [2]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [3]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [1]
 [2]
 [2]
 [2]
 [1]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [2]
 [2]
 [3]
 [3]
 [3]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [2]
 [3]
 [3]
 [5]
 [5]
 [5]
 [5]
 [3]
 [3]
 [6]
 [6]
 [5]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [5]
 [5]
 [3]
 [3]
 [3]
 [3]
 [5]]
LogisticRegression



cross_val_score [0.20177259 0.17751136 0.17697299 0.22674386 0.20763417]


acc 0.427


SVC



cross_val_score []


acc []


RandomForestClassifier



cross_val_score [0.69483668 0.66962584 0.63825324 0.66022337 0.69815384]


acc 0.781


DecisionTreeClassifier



cross_val_score [0.62718029 0.60737747 0.56811038 0.58193548 0.61103443]


acc 0.708


KNeighborsClassifier



cross_val_score [0.68434678 0.65293884 0.61006525 0.64379438 0.66079572]


acc 0.773


svm_kernel



cross_val_score [0.6936445  0.63609882 0.54959556 0.56407766 0.58390147]


acc 0.775

In [29]:
df1 = pd.DataFrame(Y_test_df.values,columns=['actual'])
df1['multi']=y_pred_multi
df1['decision']=y_pred_decision
df1['random']=y_pred_random
df1['boost']=y_pred_boost
df1.to_csv('dfx.csv')

NameError: name 'y_pred_multi' is not defined