In [300]:
import numpy as np
import pandas as pd
# Warnings
import warnings
warnings.filterwarnings('ignore')
import math

In [301]:
# Multiple Linear Regression
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings("ignore")
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split
import bisect
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn import linear_model
#     print('LinearRegression')
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_predict
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [302]:
def prepare_data(df,pollutant,n_city):
    df3=pd.DataFrame({},columns=[])
    for i in n_city:
        print(i)
        df1=df[df["City"]==i]
        for j in pollutant:
            if j in (df1.columns[df1.isna().any()].tolist()):
                print(j)
                df2=[]
                aa = list(df1[j])
                df2 = pd.DataFrame(aa,columns=['a'])
#                 print(df2)
                df3 = df3.append(df2,ignore_index=True)
    return df3

In [303]:
def model(regressor,X_train, X_test, y_train, y_test):
    print(regressor)
    model1 = regressor.fit(X_train,y_train)
    print('train acc')
    print(model1.score(X_train, y_train))
    print('y_pred')
    y_pred = model1.predict(X_test)
    print('testing acc')
    print(r2_score(y_test,y_pred))
    #     print('testing acc')
    #     df1=pd.DataFrame(y_pred,columns=['pred'])
    #     df1['actual']=X_test
    #     print(df1)
    return y_pred
def multi(X_train, X_test, y_train, y_test):
    from sklearn import linear_model
    regressor = linear_model.LinearRegression()
    y_pred=model(regressor,X_train, X_test, y_train, y_test)
    return y_pred
def decision(X_train, X_test, y_train, y_test):
    from sklearn.tree import DecisionTreeRegressor
    regressor = DecisionTreeRegressor(random_state = 0)
    y_pred=model(regressor,X_train, X_test, y_train, y_test)
    return y_pred
def random(X_train, X_test, y_train, y_test):
    from sklearn.ensemble import RandomForestRegressor
    regressor = RandomForestRegressor(n_estimators = 40, random_state = 0)
    y_pred=model(regressor,X_train, X_test, y_train, y_test)
    return y_pred
def svr(X_train, X_test, y_train, y_test):
    from sklearn.svm import SVR
    regressor = SVR(kernel = 'rbf')
    y_pred=model(regressor,X_train, X_test, y_train, y_test)
    return y_pred
def boost(X_train, X_test, y_train, y_test):
    from sklearn import ensemble
    params = {
    'n_estimators': 1,
    'max_depth': 1,
    'learning_rate': 1,
    'criterion': 'mse'
    }
    regressor = ensemble.GradientBoostingRegressor(**params)
    y_pred=model(regressor,X_train, X_test, y_train, y_test)
    return y_pred
def main(X_train, X_test, y_train, y_test):
    y_pred_multi=multi(X_train, X_test, y_train, y_test)
    y_pred_decision=decision(X_train, X_test, y_train, y_test)
    y_pred_random=random(X_train, X_test, y_train, y_test)
    # 	svr(X_train, X_test, y_train, y_test)	
    y_pred_boost=boost(X_train, X_test, y_train, y_test)
    return y_pred_multi,y_pred_decision,y_pred_random,y_pred_boost

In [304]:
def avg_1(df,day,day_avg,col_name):
    city_day_ahm_copy=df
    city_day_ahm_copy=df.dropna(axis=0, how="all", subset=[col_name])
    count = 0
    value = 0
    four_day_avg = []
    for i in range(len(list(city_day_ahm_copy['Day']))):
        if day==(list(city_day_ahm_copy['Day']))[i]:
            count = count + 1 
            value = value + list(city_day_ahm_copy[col_name])[i]
        if count==day_avg:
            four_day_avg.append(value/day_avg)
            count=0
            value=0
    return four_day_avg

In [305]:
def replace_nan(df,pollut,day_avg):
    for j in pollut:
        try:
            mon_avg = (avg_1(df,'Mon',day_avg,j))
            mon_avg1 = sum(mon_avg)/len(mon_avg)
            tue_avg = (avg_1(df,'Tue',day_avg,j))
            tue_avg1 = sum(tue_avg)/len(tue_avg)
            wed_avg = (avg_1(df,'Wed',day_avg,j))
            wed_avg1 = sum(wed_avg)/len(wed_avg)
            thurs_avg = (avg_1(df,'Thurs',day_avg,j))
            thurs_avg1 = sum(thurs_avg)/len(thurs_avg)
            fri_avg = (avg_1(df,'Fri',day_avg,j))
            fri_avg1 = sum(fri_avg)/len(fri_avg)
            sat_avg = (avg_1(df,'Sat',day_avg,j))
            sat_avg1 = sum(sat_avg)/len(sat_avg)
            sun_avg = (avg_1(df,'Sun',day_avg,j))
            sun_avg1 = sum(sun_avg)/len(sun_avg)
            for i in range(len(list(city_day_ahm_copy[j]))):
                if math.isnan(list(city_day_ahm_copy[j])[i]):
                    if list(city_day_ahm_copy['Day'])[i]=='Mon':
                        try:
                            df[j][i] = mon_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = mon_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Tue':
                        try:
                            df[j][i] = tue_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = tue_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Wed':
                        try:
                            df[j][i] = wed_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = wed_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Thurs':
                        try:
                            df[j][i] = thurs_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = thurs_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Fri':
                        try:
                            df[j][i] = fri_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = fri_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Sat':
                        try:
                            df[j][i] = sat_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = sat_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Sun':
                        try:
                            df[j][i] = sun_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = sun_avg1  
        except ZeroDivisionError:
            print(j)
    return df

In [306]:
city_day = pd.read_csv("city_day.csv")

In [307]:
city_day['Date'] =  pd.to_datetime(city_day['Date'],format='%Y-%m-%d')

In [308]:
year = city_day['Date'].dt.year
month = city_day['Date'].dt.month
day = city_day['Date'].dt.day

In [309]:
city_day.insert(loc=1, column='Year', value= year)
city_day.insert(loc=2, column='Month', value= month)
city_day.insert(loc=3, column='Date1', value= day)

In [310]:
n_city =set(list(city_day["City"]))

In [311]:
city_day_ahm=city_day

In [312]:
b = ["Thurs","Fri","Sat","Sun","Mon","Tue","Wed"]
c = len(list(city_day_ahm["NO2"]))
a = b * int(c/7) + b[:( c % 7 )]

In [313]:
city_day_ahm["Day"] = a

In [314]:
pollutants= ['PM2.5','PM10','NO','NO2','NOx','CO','SO2','O3','Benzene','Toluene','Xylene','AQI']

In [315]:
df2 = pd.DataFrame({},columns=[])
for i in n_city:
    df1=replace_nan(city_day[city_day["City"]==i],pollutants,4)
    df2 = pd.concat([df2, df1], ignore_index=True, sort=False)

Xylene
Benzene
Toluene
Xylene
Benzene
Toluene
Xylene
PM10
Xylene
Xylene
Toluene
Xylene
Xylene
Xylene
O3
NOx
Benzene
Toluene
Xylene
Toluene
Xylene
Xylene
Xylene
Benzene
Xylene

In [316]:
df2

,City,Year,Month,Date1,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Day
0,Aizawl,2020,3,11,2020-03-11,32.69,47.91,6.99,2.85,11.93,26.64,0.60,4.53,4.48,0.03,0.30,NaN,NaN,NaN,Sat
1,Aizawl,2020,3,12,2020-03-12,31.21,38.66,7.20,1.27,10.65,25.63,0.56,4.22,2.81,0.01,0.08,NaN,52.0,Satisfactory,Sun
2,Aizawl,2020,3,13,2020-03-13,38.39,46.68,7.19,0.91,10.37,29.16,0.57,4.46,0.18,0.00,0.00,NaN,60.0,Satisfactory,Mon
3,Aizawl,2020,3,14,2020-03-14,43.23,50.83,7.14,1.07,10.48,28.95,0.57,4.53,0.41,0.00,0.00,NaN,62.0,Satisfactory,Tue
4,Aizawl,2020,3,15,2020-03-15,33.82,41.03,7.09,0.36,9.73,28.41,0.48,4.63,0.30,0.00,0.00,NaN,70.0,Satisfactory,Wed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26214,Patna,2020,4,27,2020-04-27,19.03,50.03,77.24,14.17,57.37,11.30,0.43,9.83,23.31,0.66,3.22,0.16,109.0,Moderate,Tue
26215,Patna,2020,4,28,2020-04-28,12.37,39.29,66.20,11.68,58.88,11.30,0.39,8.63,31.79,0.55,3.05,0.14,98.0,Satisfactory,Wed
26216,Patna,2020,4,29,2020-04-29,15.21,41.96,79.67,13.50,69.42,10.13,0.42,9.37,33.08,0.69,1.24,0.73,111.0,Moderate,Thurs
26217,Patna,2020,4,30,2020-04-30,30.93,60.26,69.32,14.46,61.62,10.08,0.52,11.96,41.62,1.67,1.82,2.62,118.0,Moderate,Fri
26218,Patna,2020,5,1,2020-05-01,29.26,76.89,75.87,11.84,65.66,12.02,0.52,7.86,35.56,2.28,1.93,2.75,118.0,Moderate,Sat

In [317]:
df2 = df2.sort_values(by=['City','Date'])
df2 = df2.reset_index(drop=True)

In [318]:
df2

,City,Year,Month,Date1,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Day
0,Ahmedabad,2015,1,1,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN,Thurs
1,Ahmedabad,2015,1,2,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN,Fri
2,Ahmedabad,2015,1,3,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN,Sat
3,Ahmedabad,2015,1,4,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN,Sun
4,Ahmedabad,2015,1,5,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN,Mon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26214,Thiruvananthapuram,2020,4,27,2020-04-27,14.13,34.27,5.60,8.98,12.48,5.65,0.49,5.50,42.41,NaN,NaN,NaN,63.0,Satisfactory,Wed
26215,Thiruvananthapuram,2020,4,28,2020-04-28,23.84,44.32,6.27,10.01,13.80,5.73,0.44,5.62,44.55,NaN,NaN,NaN,60.0,Satisfactory,Thurs
26216,Thiruvananthapuram,2020,4,29,2020-04-29,18.54,34.48,6.17,9.67,13.35,5.93,0.51,5.52,38.97,NaN,NaN,NaN,57.0,Satisfactory,Fri
26217,Thiruvananthapuram,2020,4,30,2020-04-30,20.57,48.19,6.28,9.52,13.56,5.84,0.46,5.32,39.23,NaN,NaN,NaN,57.0,Satisfactory,Sat
26218,Thiruvananthapuram,2020,5,1,2020-05-01,17.58,37.49,2.56,7.84,9.34,4.85,0.45,7.10,31.16,NaN,NaN,NaN,82.0,Satisfactory,Sun

In [319]:
df4=prepare_data(df2,pollutants,n_city)

Aizawl
PM2.5
PM10
O3
Xylene
AQI
Amritsar
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Kolkata
PM2.5
PM10
NO
NO2
NOx
SO2
O3
Benzene
Toluene
Xylene
AQI
Mumbai
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Bhopal
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Ahmedabad
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Thiruvananthapuram
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Lucknow
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Jaipur
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Amaravati
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Guwahati
PM2.5
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Bengaluru
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Chennai
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Delhi
PM2.5
PM10
NO
NO2
SO2
O3
Xylene
AQI
Gurugram
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Ernakulam
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Chandigarh
PM2.5
NO
NO2
NOx
O3
AQI
Jorapokhar
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Brajrajnagar
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Hyderabad
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Talcher
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Shillong
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI
Kochi
NO2
O3
Benzene
Xylene
AQI
Patna
PM2.5
PM10
NO
NO2
NOx
CO
SO2
O3
Benzene
Toluene
Xylene
AQI

In [321]:
y_pred_multi,y_pred_decision,y_pred_random,y_pred_boost=main(X_train,X_test,Y_train,Y_test)

NameError: name 'X_train' is not defined

In [ ]:
# Predicting next n days
n = 100
n_past = 7
n_future = 1
x_input = city_day_ahm["AQI"][X_train.shape[0] : X_train.shape[0]+ 7].values 
x_input = x_input.reshape((1,7))              # reshape for applying model
output=[]
i=0
while(i<100):
    
    
    yhat = dtregressor.predict(x_input)      # yhat calulate
    

    
    output.append(yhat[0])                 # append to output
    
    x_input = np.append(x_input,yhat[0])
    

    x_input = x_input[1:]

    x_input = x_input.reshape((1,7))
    
    
    i = i+1
print(output)