In [411]:
import numpy as np
import pandas as pd
# Warnings
import warnings
warnings.filterwarnings('ignore')

import math
from sklearn.externals import joblib

In [412]:
# Multiple Linear Regression
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings("ignore")
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split
import bisect
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn import linear_model
#     print('LinearRegression')
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_predict
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [475]:
def prepare_data(df,pollutant,n_city):
    df3=pd.DataFrame({},columns=[])
    for i in n_city:
        print(i)
        df1=df[df["City"]==i]
        for j in pollutant:
            if j in (df1.columns[df1.isna().any()].tolist()):
                print(j)
                df2=[]
                aa = list(df1[j])
                df2 = pd.DataFrame(aa,columns=['a'])
#                 print(df2)
                df3 = df3.append(df2,ignore_index=True)
    return df3

In [476]:
def model(regressor,X_train, X_test, y_train, y_test,name):
    print(regressor)
    model1 = regressor.fit(X_train,y_train)
    joblib.dump(model1, str(name)+'.pkl')       
    print('train acc')
    print(model1.score(X_train, y_train))
    print('y_pred')
    y_pred = model1.predict(X_test)
    print('testing acc')
    print(r2_score(y_test,y_pred))
    #     print('testing acc')
    #     df1=pd.DataFrame(y_pred,columns=['pred'])
    #     df1['actual']=X_test
    #     print(df1)
    return y_pred
def multi(X_train, X_test, y_train, y_test):
    from sklearn import linear_model
    regressor = linear_model.LinearRegression()
    name='linear_7day'
    y_pred=model(regressor,X_train, X_test, y_train, y_test,name)
    return y_pred
def decision(X_train, X_test, y_train, y_test):
    from sklearn.tree import DecisionTreeRegressor
    regressor = DecisionTreeRegressor(random_state = 0)
    name='decision_7day'
    y_pred=model(regressor,X_train, X_test, y_train, y_test,name)
    return y_pred
def random(X_train, X_test, y_train, y_test):
    from sklearn.ensemble import RandomForestRegressor
    regressor = RandomForestRegressor(n_estimators = 40, random_state = 0)
    name='random_7day'
    y_pred=model(regressor,X_train, X_test, y_train, y_test,name)
    return y_pred
def svr(X_train, X_test, y_train, y_test):
    from sklearn.svm import SVR
    regressor = SVR(kernel = 'rbf')
    name='svr_7day'
    y_pred=model(regressor,X_train, X_test, y_train, y_test,name)
    return y_pred
def boost(X_train, X_test, y_train, y_test):
    from sklearn import ensemble
    params = {
    'n_estimators': 1,
    'max_depth': 1,
    'learning_rate': 1,
    'criterion': 'mse'
    }
    name='boost_7day'
    regressor = ensemble.GradientBoostingRegressor(**params)
    y_pred=model(regressor,X_train, X_test, y_train, y_test,name)
    return y_pred
def main(X_train, X_test, y_train, y_test):
    y_pred_multi=multi(X_train, X_test, y_train, y_test)
    y_pred_decision=decision(X_train, X_test, y_train, y_test)
    y_pred_random=random(X_train, X_test, y_train, y_test)
    # 	svr(X_train, X_test, y_train, y_test)	
    y_pred_boost=boost(X_train, X_test, y_train, y_test)
    return y_pred_multi,y_pred_decision,y_pred_random,y_pred_boost

In [477]:
def avg_1(df,day,day_avg,col_name):
    city_day_ahm_copy=df
    city_day_ahm_copy=df.dropna(axis=0, how="all", subset=[col_name])
    count = 0
    value = 0
    four_day_avg = []
    for i in range(len(list(city_day_ahm_copy['Day']))):
        if day==(list(city_day_ahm_copy['Day']))[i]:
            count = count + 1 
            value = value + list(city_day_ahm_copy[col_name])[i]
        if count==day_avg:
            four_day_avg.append(value/day_avg)
            count=0
            value=0
    return four_day_avg

In [478]:
def month_avg(df,month,pol):
    df = df[df['Month']==month]
    a  = list(df[pol])
    a  = sum(a)/len(a)
    return a

In [479]:
def replace_nan(df,pollut,day_avg):
    city_day_ahm_copy=df
    city_day_ahm_copy2=df
    for j in pollut:
        try:
            mon_avg = (avg_1(df,'Mon',day_avg,j))
            mon_avg1 = sum(mon_avg)/len(mon_avg)
            tue_avg = (avg_1(df,'Tue',day_avg,j))
            tue_avg1 = sum(tue_avg)/len(tue_avg)
            wed_avg = (avg_1(df,'Wed',day_avg,j))
            wed_avg1 = sum(wed_avg)/len(wed_avg)
            thurs_avg = (avg_1(df,'Thurs',day_avg,j))
            thurs_avg1 = sum(thurs_avg)/len(thurs_avg)
            fri_avg = (avg_1(df,'Fri',day_avg,j))
            fri_avg1 = sum(fri_avg)/len(fri_avg)
            sat_avg = (avg_1(df,'Sat',day_avg,j))
            sat_avg1 = sum(sat_avg)/len(sat_avg)
            sun_avg = (avg_1(df,'Sun',day_avg,j))
            sun_avg1 = sum(sun_avg)/len(sun_avg)
            for i in range(len(list(city_day_ahm_copy[j]))):
                if math.isnan(list(city_day_ahm_copy[j])[i]):
                    if list(city_day_ahm_copy['Day'])[i]=='Mon':
                        try:
                            df[j][i] = mon_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = mon_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Tue':
                        try:
                            df[j][i] = tue_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = tue_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Wed':
                        try:
                            df[j][i] = wed_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = wed_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Thurs':
                        try:
                            df[j][i] = thurs_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = thurs_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Fri':
                        try:
                            df[j][i] = fri_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = fri_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Sat':
                        try:
                            df[j][i] = sat_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = sat_avg1                    
                    if list(city_day_ahm_copy['Day'])[i]=='Sun':
                        try:
                            df[j][i] = sun_avg[int(i/day_avg)]
                        except IndexError:
                            df[j][i] = sun_avg1  
        except ZeroDivisionError:
            pass
    return df

In [480]:
city_day = pd.read_csv("city_day.csv")

In [481]:
city_day['Date'] =  pd.to_datetime(city_day['Date'],format='%Y-%m-%d')

In [482]:
year = city_day['Date'].dt.year
month = city_day['Date'].dt.month
day = city_day['Date'].dt.day

In [483]:
city_day.insert(loc=1, column='Year', value= year)
city_day.insert(loc=2, column='Month', value= month)
city_day.insert(loc=3, column='Date1', value= day)

In [484]:
n_city =set(list(city_day["City"]))

In [485]:
city_day_ahm=city_day

In [486]:
b = ["Thurs","Fri","Sat","Sun","Mon","Tue","Wed"]
c = len(list(city_day_ahm["NO2"]))
a = b * int(c/7) + b[:( c % 7 )]

In [487]:
city_day_ahm = city_day_ahm.drop(['AQI_Bucket'],axis = 1)

In [488]:
# replacing nan values
x = city_day_ahm.groupby(['Month'])['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene','AQI'].mean()

In [489]:
city_day_ahm["Day"] = a

In [490]:
k = city_day_ahm.columns.values
k = list(k)
y = x.values

In [491]:
pollutants= ['PM2.5','PM10','NO','NO2','NOx','CO','SO2','O3','Benzene','Toluene','Xylene','AQI']

In [492]:
for i in range(len(city_day_ahm)):
    for j in range(5,18):
        if pd.isna(city_day_ahm.iloc[i,j]):
            
            m = city_day_ahm["Month"][i]
        
            city_day_ahm.iloc[i,j] = y[m-1][j-5]

In [493]:
df4=city_day_ahm

In [494]:
df4

,City,Year,Month,Date1,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,Day
0,Ahmedabad,2015,1,1,2015-01-01,110.218812,169.238787,0.92,18.22,17.15,31.672565,0.92,27.64,133.36,0.000000,0.020000,0.000000,236.681225,Thurs
1,Ahmedabad,2015,1,2,2015-01-02,110.218812,169.238787,0.97,15.69,16.46,31.672565,0.97,24.55,34.06,3.680000,5.500000,3.770000,236.681225,Fri
2,Ahmedabad,2015,1,3,2015-01-03,110.218812,169.238787,17.40,19.30,29.70,31.672565,17.40,29.07,30.70,6.800000,16.400000,2.250000,236.681225,Sat
3,Ahmedabad,2015,1,4,2015-01-04,110.218812,169.238787,1.70,18.48,17.97,31.672565,1.70,18.59,36.08,4.430000,10.140000,1.000000,236.681225,Sun
4,Ahmedabad,2015,1,5,2015-01-05,110.218812,169.238787,22.10,21.42,37.76,31.672565,22.10,39.33,39.31,7.010000,18.890000,2.780000,236.681225,Mon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26214,Thiruvananthapuram,2020,4,27,2020-04-27,14.130000,34.270000,5.60,8.98,12.48,5.650000,0.49,5.50,42.41,2.041667,5.660139,1.845396,63.000000,Wed
26215,Thiruvananthapuram,2020,4,28,2020-04-28,23.840000,44.320000,6.27,10.01,13.80,5.730000,0.44,5.62,44.55,2.041667,5.660139,1.845396,60.000000,Thurs
26216,Thiruvananthapuram,2020,4,29,2020-04-29,18.540000,34.480000,6.17,9.67,13.35,5.930000,0.51,5.52,38.97,2.041667,5.660139,1.845396,57.000000,Fri
26217,Thiruvananthapuram,2020,4,30,2020-04-30,20.570000,48.190000,6.28,9.52,13.56,5.840000,0.46,5.32,39.23,2.041667,5.660139,1.845396,57.000000,Sat
26218,Thiruvananthapuram,2020,5,1,2020-05-01,17.580000,37.490000,2.56,7.84,9.34,4.850000,0.45,7.10,31.16,2.299014,8.398437,3.948871,82.000000,Sun

In [497]:
df4=prepare_data(df4,pollutants,n_city)

Bhopal

KeyError: 'City'

In [496]:
df4

Empty DataFrame
Columns: []
Index: []

In [442]:
df2 = df2.sort_values(by=['City','Date'])
df2 = df2.reset_index(drop=True)

In [446]:
df4.isnull().sum()
df4=df4.dropna()

In [445]:
df4

Empty DataFrame
Columns: []
Index: []

In [444]:
X = []
Y = []
X_train = []
Y_train = []
X_test = []
Y_test = []
n_past = 7
from sklearn.model_selection import train_test_split
for i in range(200000):
    X.append(df4["a"][i:i+n_past].values)
    Y.append(df4["a"][i+n_past:i+n_past+1].values)
#converting to dataframe
Xdf = pd.DataFrame(X)
Ydf = pd.DataFrame(Y)
X = Xdf.values
Y = Ydf.values

KeyError: 'a'

In [ ]:
X

In [ ]:
#converting to dataframe
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.33, random_state=42)

In [ ]:
y_pred_multi,y_pred_decision,y_pred_random,y_pred_boost=main(X_train,X_test,Y_train,Y_test)

In [ ]:
def CreateDataset(df,n_past):
    X_train = []
    Y_train = []
    for i in range(len(df)-n_past):
        X_train.append(df[i:i+n_past].values)
        Y_train.append(df[i+n_past:i+n_past+1].values)
    #converting to dataframe
    X_train_df = pd.DataFrame(X_train)
    Y_train_df = pd.DataFrame(Y_train)
    X_train = X_train_df.values
    Y_train = Y_train_df.values
    return X_train,Y_train

In [ ]:
def prediction(x_input,name,n,n_past):
    x_input = x_input.values
    x_input = x_input.reshape((1,n_past))              # reshape for applying model
    model1 = joblib.load(str(name)+'.pkl')
    output=[]
    i=0
    n_future = 1
    while(i<n):
        yhat = model1.predict(x_input)      # yhat calulate
        output.append(yhat[0])                 # append to output
        x_input = np.append(x_input,yhat[0])
        x_input = x_input[1:]
        x_input = x_input.reshape((1,n_past))
        i = i+1
    return output

In [ ]:
n = 100
n_past = 7
pollutants= ['PM2.5','PM10','NO','NO2','NOx','CO','SO2','O3','Benzene','Toluene','Xylene','AQI']

final_data = pd.DataFrame(columns=k) 
  
for i in pollutants:    
    everycity_pollutant = []
    c = 0
    for j in n_city:        
        temp = city_day_ahm[city_day_ahm["City"]==j]
        length = len(temp)
        x_input = temp[i][len(temp)-n_past:]
        y_pred = prediction(x_input,'linear_7day',n,n_past)        
        everycity_pollutant = everycity_pollutant + y_pred
    everycity_pollutant = np.array(everycity_pollutant).reshape((-1))
    final_data[i] = everycity_pollutant